---
export interface Props {
  heading: string;
  image: ImageMetadata;
  flip?: boolean;
  children?: string;
}
const { heading, image, flip = false, children } = Astro.props;
import { Image } from "astro:assets";
---

<article class="service-item" class:is-flipped={flip}>
  <h3>{heading}</h3>
  <p>{children}</p>
  <figure class="service-image">
    <Image src={image} alt={heading} width={640} height={360} loading="lazy" />
  </figure>
</article>

<style lang="scss">
  article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    align-items: center;
    margin-block: 3rem;
  }
  article.flip {
    direction: rtl;
  }
  .service-image img {
    box-shadow: var(--box-shadow);
    width: 100%;
  }
</style>
